<ion-header> 
</ion-header> 
<ion-content> 
  <ion-toolbar color="success">
    <ion-title style="color: white;">Home | SNSU</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="white-menu-button"></ion-menu-button>
    </ion-buttons>
    <!-- Back Icon -->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" class="white-back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Header Image -->
  <ion-img src="/assets/image/header.jpg" alt="SNSU Header"></ion-img>

<ion-content>
  <!-- List of Links -->
  <ion-list>
    <ion-item routerLink="/the-school/philosophy">
      <ion-icon slot="start" [icon]="icons.flagOutline" color="#ffffff"></ion-icon>
      <ion-label>Philosophy, Mission, Vision and Goals</ion-label>
    </ion-item>
    <ion-item routerLink="/the-school/seal">
      <ion-icon slot="start" [icon]="icons.saveOutline" color="#ffffff"></ion-icon>
      <ion-label>SNSU Seal and Colors</ion-label>
    </ion-item>
    <ion-item routerLink="/the-school/act">
      <ion-icon slot="start" [icon]="icons.receiptOutline" color="#ffffff"></ion-icon>
      <ion-label>Republic Act 8650</ion-label>
    </ion-item>
    <ion-item routerLink="/the-school/hymn">
      <ion-icon slot="start" [icon]="icons.musicalNotesOutline" color="#ffffff"></ion-icon>
      <ion-label>SNSU Hymn</ion-label>
    </ion-item>
    <ion-item routerLink="/the-school/map">
      <ion-icon slot="start" [icon]="icons.locationOutline" color="#ffffff"></ion-icon>
      <ion-label>Location Map</ion-label>
    </ion-item>
  </ion-list>

  <!-- News/Announcement Card -->
  <ion-card>
    <img alt="snsu" src="/assets/image/plando.jpg" />
    <ion-card-header>
      <ion-card-title>ABOUT SNSU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The Surigao del Norte State University is a public university in the Philippines. It is mandated to
      provide advanced education, higher technological, professional instruction and training in the fields of
      agriculture and environmental studies, fishery, engineering, forestry, industrial technology, education,
      law, medicine and other health-related programs, information technology, arts and sciences and other
      related courses.
    </ion-card-content>
  </ion-card>
</ion-content>