<ion-header> 
<ion-toolbar color="success"> 
<ion-title style="color: white;">Home | SNSU</ion-title> 
<ion-buttons slot="start"> 
<ion-menu-button class="white-menu-button"></ion-menu-button> 
</ion-buttons> 
<!-- Back Icon --> 
<ion-buttons slot="end"> 
<ion-back-button defaultHref="home" class="white-back-button"></ion-back-button> 
</ion-buttons> 
</ion-toolbar> 
<!-- Header Image --> 
<ion-img src="/assets/image/header.jpg" alt="SNSU Header"></ion-img> 
</ion-header> 
<ion-content> 
<ion-card> 
<ion-grid> 
<ion-row class="ion-text-center"> 
<ion-col size="4" routerLink="/the-school"> 
<ion-icon name="school" color="#f6f8fc" size="large"></ion-icon> 
<p>The School</p> 
</ion-col> 
        <ion-col size="4" routerLink="/administration"> 
          <ion-icon name="people" color="#f6f8fc" size="large"></ion-icon> 
          <p>Administration</p> 
        </ion-col> 
        <ion-col size="4" routerLink="/academics"> 
          <ion-icon name="book" color="#f6f8fc" size="large"></ion-icon> 
          <p>Academics</p> 
        </ion-col> 
      </ion-row> 

      <ion-row class="ion-text-center"> 
        <ion-col size="4" routerLink="/faculty"> 
          <ion-icon name="people-circle" color="#f6f8fc" size="large"></ion-icon> 
          <p>Faculty</p> 
        </ion-col> 
        <ion-col size="4" routerLink="/students"> 
          <ion-icon name="person" color="#f6f8fc" size="large"></ion-icon> 
          <p>Students</p> 
        </ion-col> 
        <ion-col size="4" routerLink="/rie"> 
          <ion-icon name="flask" color="#f6f8fc" size="large"></ion-icon> 
          <p>RIE</p> 
        </ion-col> 
      </ion-row> 

      <ion-row class="ion-text-center"> 
        <ion-col size="4" routerLink="/library"> 
          <ion-icon name="library" color="#f6f8fc" size="large"></ion-icon> 
          <p>Library</p> 
        </ion-col> 
        <ion-col size="4" routerLink="/alumni"> 
          <ion-icon name="ribbon" color="#f6f8fc" size="large"></ion-icon> 
          <p>Alumni</p> 
        </ion-col> 
        <ion-col size="4" routerLink="/campuses"> 
          <ion-icon name="business" color="#f6f8fc" size="large"></ion-icon> 
          <p>Campuses</p> 
        </ion-col> 
      </ion-row> 
    </ion-grid> 
  </ion-card> 

  <ion-card> 
    <img alt="snsu" src="\assets\image\ssct.jpg" /> 
    <ion-card-header> 
      <ion-card-title>SURIGAO STATE COLLEGE OF TECHNOLOGY OFFICIALLY BECOMES A UNIVERSITY</ion-card-title> 
    </ion-card-header> 
  
      <ion-card-content> 
        The much-awaited conversion of SSCT into Surigao del Norte State University or SNSU was finally 
    granted on June 23, 2022 during the Board of Trustees Meeting in Cagayan de Oro City.  CHED 
    Commissioner Jo Mark M. Libre said the universityhood was duly approved by the Commission En Banc of 
    the CHED or Commission on Higher Education.  He expressed congratulations to the Board of Trustees 
    and all those behind the effort of SSCT to become SNSU, a toil that lasted for nine years. To recall, 
    it was on June 4, 2013 that Republic Act 10600 or An Act Establishing. The Surigao Del Norte State 
    University in The Province of Surigao Del Norte was signed into law by the late president Benigno C. 
    Aquino III. 
      </ion-card-content> 
    <ion-button color="success" routerLink="/faculty" expand="block">Learn more</ion-button> 
  </ion-card> 
</ion-content> 